<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>work.obatake.flight_checklists</string>
	<key>connections</key>
	<dict>
		<key>20EEF026-3F11-41D7-98DC-93E50BD95B95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00628131-6224-4399-863B-FAC11AE45E69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FC32A4C-0ECF-4B79-8B68-213E31140EEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E5C989D-F061-40F7-BCE1-9CF86A1B6D85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44DF1DDF-F6A7-4DCC-87EE-B9BB8C5EAE07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77385CFB-2630-40BC-96C4-C756C4B1D91E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6EF9D588-6589-4F78-A1AF-E12313AF853A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C5A89759-A7D0-4BBB-B35C-FD7A3D985071</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E5C989D-F061-40F7-BCE1-9CF86A1B6D85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44DF1DDF-F6A7-4DCC-87EE-B9BB8C5EAE07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72658D0B-EB85-4F68-88E3-6E58A49C6B66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74B9477B-E968-49C4-A8E3-6EE6D0F6B7BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74B9477B-E968-49C4-A8E3-6EE6D0F6B7BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E054C6B-8EB3-4A49-BBAA-3B234B80A393</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C910E546-1C70-4542-893B-65CCBC96D569</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC10FD29-1B0A-4D0D-A897-AAA5DDB06F78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>53F3A84F-3716-4BBC-B39B-9977EB3C7306</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8CE0907-DB56-46C0-B944-8E02881F853A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5D82E6C5-A4F1-48D3-B0AD-FC8924872197</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D73764E0-2780-4C72-96E5-49B4377DCC98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E054C6B-8EB3-4A49-BBAA-3B234B80A393</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AB8BE80-4718-429D-9996-116E575C177E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>865E47E6-4C3A-4B93-A08D-E5848E1CF5F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72658D0B-EB85-4F68-88E3-6E58A49C6B66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88DF227D-7094-406F-9581-A25ADA65B920</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20EEF026-3F11-41D7-98DC-93E50BD95B95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>78F6B90C-EF8B-41C5-BDD6-552A98763D19</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C9D89895-E41F-4812-888F-02807D7BCAB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>92319D8B-FD61-451A-970C-DE4AEB672E87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BD4B0F8-592F-4ADD-9AA6-B558BB0B2BFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88DF227D-7094-406F-9581-A25ADA65B920</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D3D70B-BE8A-46A2-8CDC-24CA5FF5BFEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07CD61AF-CFFC-4792-9E47-A2AEB5E1CDFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B42E2D50-1852-4E2F-B2E2-52616BE358A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BD4B0F8-592F-4ADD-9AA6-B558BB0B2BFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5A89759-A7D0-4BBB-B35C-FD7A3D985071</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3C89B7A-1B84-4133-B569-D81C82E6281A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C63D95EE-E8E7-4E9D-976D-8399791E739D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72658D0B-EB85-4F68-88E3-6E58A49C6B66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>C798C859-6882-41ED-AA5F-5922E0C4B51C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B42E2D50-1852-4E2F-B2E2-52616BE358A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9D89895-E41F-4812-888F-02807D7BCAB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9872827B-D7BE-4F72-A3B3-AAA100C6DD59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D73764E0-2780-4C72-96E5-49B4377DCC98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0C7EC8F-E004-42F7-B284-BC28874B1B91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0C7EC8F-E004-42F7-B284-BC28874B1B91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F89B1BA-73F2-4BB4-BC68-2E680273C8EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>78F6B90C-EF8B-41C5-BDD6-552A98763D19</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA6E5B44-215E-4B78-B60B-16330FD28390</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8CE0907-DB56-46C0-B944-8E02881F853A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2D3D70B-BE8A-46A2-8CDC-24CA5FF5BFEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Oba Takeshi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flight CheckLists</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>############
# clean data
############

import os
import sys
from lib.cache_manage import CacheManage

query = sys.argv[1]

CacheManage.flash()

sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E054C6B-8EB3-4A49-BBAA-3B234B80A393</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1AB8BE80-4718-429D-9996-116E575C177E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clean</string>
						<key>outputlabel</key>
						<string>clean</string>
						<key>uid</key>
						<string>C910E546-1C70-4542-893B-65CCBC96D569</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>template</string>
						<key>outputlabel</key>
						<string>template</string>
						<key>uid</key>
						<string>53F3A84F-3716-4BBC-B39B-9977EB3C7306</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>txt</string>
						<key>outputlabel</key>
						<string>checklists</string>
						<key>uid</key>
						<string>5D82E6C5-A4F1-48D3-B0AD-FC8924872197</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>continue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>74B9477B-E968-49C4-A8E3-6EE6D0F6B7BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>flight</string>
				<key>subtext</key>
				<string>Taking careful</string>
				<key>text</key>
				<string>Flight Checklists</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C63D95EE-E8E7-4E9D-976D-8399791E739D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>flight</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import sys
import json

if len(sys.argv) == 2:
	options = {"items": [
				{"title": "checklists", "arg": "txt"},
				{"title": "template", "arg": "template"}
			]}
else:
	options = {"items": [
				{"title": "continue", "arg": ""},
				{"title": "checklists", "arg": "txt"},
				{"title": "template", "arg": "template"},
				{"title": "clean", "arg": "clean"}
			]}

print(json.dumps(options))

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72658D0B-EB85-4F68-88E3-6E58A49C6B66</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>file_template</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>DC10FD29-1B0A-4D0D-A897-AAA5DDB06F78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>restart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>865E47E6-4C3A-4B93-A08D-E5848E1CF5F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>###################
# select done check
###################

import sys
from lib.cache_manage import CacheManage

query = sys.argv[1]

CacheManage.make_checklist(query)

sys.stdout.write('')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2D3D70B-BE8A-46A2-8CDC-24CA5FF5BFEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Documents/checklists</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>types</key>
				<array>
					<string>public.plain-text</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>E8CE0907-DB56-46C0-B944-8E02881F853A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>selectCheck</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>07CD61AF-CFFC-4792-9E47-A2AEB5E1CDFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
from lib.cache_manage import CacheManage


query = sys.argv[1]

row_checklist = CacheManage.read()

remaining_task = filter(lambda x: x[0] == '*', row_checklist)

if len(remaining_task) == 0:
	sys.stdout.write('no progress work')
else:
	CacheManage.write(row_checklist)

	sys.stdout.write('')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D73764E0-2780-4C72-96E5-49B4377DCC98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>selectCheck</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8F89B1BA-73F2-4BB4-BC68-2E680273C8EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>has progress checklist</string>
						<key>uid</key>
						<string>78F6B90C-EF8B-41C5-BDD6-552A98763D19</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no progress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E0C7EC8F-E004-42F7-B284-BC28874B1B91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>restart</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>DA6E5B44-215E-4B78-B60B-16330FD28390</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>mkdir ~/Documents/checklists

cd ~/Documents/checklists

vim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>77385CFB-2630-40BC-96C4-C756C4B1D91E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>file_template</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3FC32A4C-0ECF-4B79-8B68-213E31140EEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>flight</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import json

options = {"items": [
			{"title": "new", "arg": "new"},
			{"title": "edit", "arg": "txt"}
		]}


print(json.dumps(options))

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5E5C989D-F061-40F7-BCE1-9CF86A1B6D85</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>new</string>
						<key>outputlabel</key>
						<string>new</string>
						<key>uid</key>
						<string>6EF9D588-6589-4F78-A1AF-E12313AF853A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>edit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>44DF1DDF-F6A7-4DCC-87EE-B9BB8C5EAE07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Documents/checklists</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>types</key>
				<array>
					<string>public.plain-text</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>C5A89759-A7D0-4BBB-B35C-FD7A3D985071</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>vim {query}
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A3C89B7A-1B84-4133-B569-D81C82E6281A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>All checklist complete!!!</string>
				<key>title</key>
				<string>{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>00628131-6224-4399-863B-FAC11AE45E69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>############
# data clean
############

import sys
from lib.cache_manage import CacheManage
query = sys.argv[1]

CacheManage.flash()

sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20EEF026-3F11-41D7-98DC-93E50BD95B95</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>selectCheck</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C798C859-6882-41ED-AA5F-5922E0C4B51C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import sys
import json
from lib.cache_manage import CacheManage

row_checklist = CacheManage.read()

def option(work, condition, arg):
	if condition == 0:
		icon = 'images/required.png'
	elif condition == 1:
		icon = 'images/optional.png'
	else:
		icon = 'images/done.png'

	return {"title": work, "arg": str(arg), "icon": {"path": icon}}

options = []
for i, row in enumerate(row_checklist):
	work = row.split(' ')
	condition = ['*', '-', '#'].index(work[0])
	options.append(option(work[1], condition, i))

print(json.dumps({"items": options}))

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B42E2D50-1852-4E2F-B2E2-52616BE358A9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
from lib.cache_manage import CacheManage

query = sys.argv[1]

row_checklist = CacheManage.read()

selected_ind = int(query)
selected_data = row_checklist.pop(selected_ind)

replaced_selected_data = '#' + selected_data[1:]
row_checklist.append(replaced_selected_data)

remaining_task = filter(lambda x: x[0] == '*', row_checklist)

if len(remaining_task) == 0:
	sys.stdout.write('1')
else:
	CacheManage.write(row_checklist)
	sys.stdout.write(selected_data[1:])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BD4B0F8-592F-4ADD-9AA6-B558BB0B2BFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>done all</string>
						<key>uid</key>
						<string>78F6B90C-EF8B-41C5-BDD6-552A98763D19</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>88DF227D-7094-406F-9581-A25ADA65B920</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>selectCheck</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9872827B-D7BE-4F72-A3B3-AAA100C6DD59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C9D89895-E41F-4812-888F-02807D7BCAB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>checked{query}</string>
				<key>title</key>
				<string>{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>92319D8B-FD61-451A-970C-DE4AEB672E87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00628131-6224-4399-863B-FAC11AE45E69</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>07CD61AF-CFFC-4792-9E47-A2AEB5E1CDFF</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>1AB8BE80-4718-429D-9996-116E575C177E</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>20EEF026-3F11-41D7-98DC-93E50BD95B95</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>3FC32A4C-0ECF-4B79-8B68-213E31140EEA</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>44DF1DDF-F6A7-4DCC-87EE-B9BB8C5EAE07</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>5E5C989D-F061-40F7-BCE1-9CF86A1B6D85</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>72658D0B-EB85-4F68-88E3-6E58A49C6B66</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>74B9477B-E968-49C4-A8E3-6EE6D0F6B7BD</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>77385CFB-2630-40BC-96C4-C756C4B1D91E</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>7E054C6B-8EB3-4A49-BBAA-3B234B80A393</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>865E47E6-4C3A-4B93-A08D-E5848E1CF5F2</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>88DF227D-7094-406F-9581-A25ADA65B920</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>845</integer>
		</dict>
		<key>8BD4B0F8-592F-4ADD-9AA6-B558BB0B2BFE</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>8F89B1BA-73F2-4BB4-BC68-2E680273C8EC</key>
		<dict>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>92319D8B-FD61-451A-970C-DE4AEB672E87</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>9872827B-D7BE-4F72-A3B3-AAA100C6DD59</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>A3C89B7A-1B84-4133-B569-D81C82E6281A</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>B2D3D70B-BE8A-46A2-8CDC-24CA5FF5BFEB</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>B42E2D50-1852-4E2F-B2E2-52616BE358A9</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>C5A89759-A7D0-4BBB-B35C-FD7A3D985071</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C63D95EE-E8E7-4E9D-976D-8399791E739D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C798C859-6882-41ED-AA5F-5922E0C4B51C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>C9D89895-E41F-4812-888F-02807D7BCAB9</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>970</integer>
		</dict>
		<key>D73764E0-2780-4C72-96E5-49B4377DCC98</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>DA6E5B44-215E-4B78-B60B-16330FD28390</key>
		<dict>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>DC10FD29-1B0A-4D0D-A897-AAA5DDB06F78</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>E0C7EC8F-E004-42F7-B284-BC28874B1B91</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>E8CE0907-DB56-46C0-B944-8E02881F853A</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alfred_workflow_data</key>
		<string>~/Library/Application Support/Alfred/Workflow Data/work.obatake.flight_checklists/</string>
		<key>title</key>
		<string>Flight Checklist</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ObaTakeshi/flight_checklists</string>
</dict>
</plist>
